 <div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="images/5.jpg" class="card-img-top" alt="Andrés Bursztyn">
                        <div class="card-body">
                            <h5 class="card-title">Andrés Bursztyn</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in
                                voluptatibus, sapiente quibusdam, ratione pariatur voluptate dolorem explicabo
                                praesentium magnam voluptatum neque aliquid nam quaerat velit ducimus ab officia. Hic!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/istockphoto-1040613350-612x612.jpg" class="card-img-top" alt="Andrés Bursztyn">
                        <div class="card-body">
                            <h5 class="card-title">Equipo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in
                                voluptatibus, sapiente quibusdam, ratione pariatur voluptate dolorem explicabo
                                praesentium magnam voluptatum neque aliquid nam quaerat velit ducimus ab officia. Hic!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/estudio.jpg" class="card-img-top" alt="Andrés Bursztyn">
                        <div class="card-body">
                            <h5 class="card-title">Estudio</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in
                                voluptatibus, sapiente quibusdam, ratione pariatur voluptate dolorem explicabo
                                praesentium magnam voluptatum neque aliquid nam quaerat velit ducimus ab officia. Hic!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/photo-1617463874381-85b513b3e991.jpg" class="card-img-top" alt="Andrés Bursztyn">
                        <div class="card-body">
                            <h5 class="card-title">Grupo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in
                                voluptatibus, sapiente quibusdam, ratione pariatur voluptate dolorem explicabo
                                praesentium magnam voluptatum neque aliquid nam quaerat velit ducimus ab officia. Hic!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>