<div class="row my-3">
        <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
            <h2>Servicios</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                    <img src="images/Graciela-212.jpg">Evento1</a></li>
                <li><a href="#"> <img src="images/Graciela-212.jpg">Evento2</a></li>
                <li><a href="#"> <img src="images/Graciela-212.jpg">Evento3</a></li>
                <li><a href="#"> <img src="images/Graciela-212.jpg">Evento4</a></li>
            </ul>
        </div>